
Body {
    background-color: #eee;
    min-height: 100vh;
   
}
header {
    height: 2rem;
    padding: 0.5rem;
    display: flex;
}
nav {
    display: flex;
    flex-direction:row;
    padding: 1rem;
    justify-content: space-around;
    align-items: center;
    align-self: center;

}

footer {

    height: 2rem;
    padding: 0.5rem;
    display: flex;
 
}